<p id="notice"><%= notice %></p>

<p>
  <strong>Kab:</strong>
  <%= @logbook.kab %>
</p>

<p>
  <strong>Tahun pel:</strong>
  <%= @logbook.tahun_pel %>
</p>

<p>
  <strong>Status:</strong>
  <%= @logbook.status %>
</p>

<p>
  <strong>Desa baru:</strong>
  <%= @logbook.desa_baru %>
</p>

<p>
  <strong>Desa pasca:</strong>
  <%= @logbook.desa_pasca %>
</p>

<p>
  <strong>M1:</strong>
  <%= @logbook.m1 %>
</p>

<p>
  <strong>M1 ket:</strong>
  <%= @logbook.m1_ket %>
</p>

<p>
  <strong>M2111:</strong>
  <%= @logbook.m2111 %>
</p>

<p>
  <strong>M2112:</strong>
  <%= @logbook.m2112 %>
</p>

<p>
  <strong>M2121:</strong>
  <%= @logbook.m2121 %>
</p>

<p>
  <strong>M2122:</strong>
  <%= @logbook.m2122 %>
</p>

<p>
  <strong>M213:</strong>
  <%= @logbook.m213 %>
</p>

<p>
  <strong>M2141:</strong>
  <%= @logbook.m2141 %>
</p>

<p>
  <strong>M2142:</strong>
  <%= @logbook.m2142 %>
</p>

<p>
  <strong>M2143:</strong>
  <%= @logbook.m2143 %>
</p>

<p>
  <strong>M2144:</strong>
  <%= @logbook.m2144 %>
</p>

<p>
  <strong>M2145:</strong>
  <%= @logbook.m2145 %>
</p>

<p>
  <strong>M2211:</strong>
  <%= @logbook.m2211 %>
</p>

<p>
  <strong>M2221:</strong>
  <%= @logbook.m2221 %>
</p>

<p>
  <strong>M2222:</strong>
  <%= @logbook.m2222 %>
</p>

<p>
  <strong>M2223:</strong>
  <%= @logbook.m2223 %>
</p>

<p>
  <strong>M241:</strong>
  <%= @logbook.m241 %>
</p>

<p>
  <strong>M242:</strong>
  <%= @logbook.m242 %>
</p>

<p>
  <strong>M243:</strong>
  <%= @logbook.m243 %>
</p>

<p>
  <strong>M231:</strong>
  <%= @logbook.m231 %>
</p>

<p>
  <strong>M25:</strong>
  <%= @logbook.m25 %>
</p>

<p>
  <strong>M26:</strong>
  <%= @logbook.m26 %>
</p>

<p>
  <strong>M2 k3t:</strong>
  <%= @logbook.m2_k3t %>
</p>

<p>
  <strong>M311:</strong>
  <%= @logbook.m311 %>
</p>

<p>
  <strong>M312:</strong>
  <%= @logbook.m312 %>
</p>

<p>
  <strong>M3121:</strong>
  <%= @logbook.m3121 %>
</p>

<p>
  <strong>M3122:</strong>
  <%= @logbook.m3122 %>
</p>

<p>
  <strong>M313:</strong>
  <%= @logbook.m313 %>
</p>

<p>
  <strong>M3131:</strong>
  <%= @logbook.m3131 %>
</p>

<p>
  <strong>M32:</strong>
  <%= @logbook.m32 %>
</p>

<p>
  <strong>M3 ket:</strong>
  <%= @logbook.m3_ket %>
</p>

<p>
  <strong>M411 sam:</strong>
  <%= @logbook.m411_sam %>
</p>

<p>
  <strong>M411 nonsam:</strong>
  <%= @logbook.m411_nonsam %>
</p>

<p>
  <strong>M412:</strong>
  <%= @logbook.m412 %>
</p>

<p>
  <strong>M413:</strong>
  <%= @logbook.m413 %>
</p>

<p>
  <strong>M4141:</strong>
  <%= @logbook.m4141 %>
</p>

<p>
  <strong>M4142:</strong>
  <%= @logbook.m4142 %>
</p>

<p>
  <strong>M4143:</strong>
  <%= @logbook.m4143 %>
</p>

<p>
  <strong>M4144:</strong>
  <%= @logbook.m4144 %>
</p>

<p>
  <strong>M415:</strong>
  <%= @logbook.m415 %>
</p>

<p>
  <strong>M421:</strong>
  <%= @logbook.m421 %>
</p>

<p>
  <strong>M422:</strong>
  <%= @logbook.m422 %>
</p>

<p>
  <strong>M423:</strong>
  <%= @logbook.m423 %>
</p>

<p>
  <strong>M pelatihan:</strong>
  <%= @logbook.m_pelatihan %>
</p>

<p>
  <strong>Kpspams:</strong>
  <%= @logbook.kpspams %>
</p>

<p>
  <strong>Peserta penawar:</strong>
  <%= @logbook.peserta_penawar %>
</p>

<p>
  <strong>Harga sat:</strong>
  <%= @logbook.harga_sat %>
</p>

<p>
  <strong>M4 k3t:</strong>
  <%= @logbook.m4_k3t %>
</p>

<p>
  <strong>M73 desa pasca:</strong>
  <%= @logbook.m73_desa_pasca %>
</p>

<p>
  <strong>Jml logbook73:</strong>
  <%= @logbook.jml_logbook73 %>
</p>

<%= link_to 'Edit', edit_logbook_path(@logbook) %> |
<%= link_to 'Back', logbooks_path %>
